<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	  crossorigin="anonymous"/>
<link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='styles/style.css')}}">
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/CSS" href="http://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" type="text/CSS" href="http://fonts.googleapis.com/css?family=Vollkorn">
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3CX-dPmHJfqa3UJGTeONprR_onwEnN0M&callback=initMap"
			type="text/javascript"></script>

		<title>Fly Away With Me</title>
</head>
	<body>
		<div class="container-fluid">
		    <div class="row">
		        <div class="col-sm-6 left vertical-align">
				    <h1>Fly anywhere.</h1>
			    </div>
				<div class="col-sm-6 right vertical-align">
					<div class="right-box">
						<div class="field">
							<h3>Where are you coming from?</h3>
							<input id="searchInput" class="controls" type="text" placeholder="Enter a location">

						</div>
						<div class="field">
							<h3>Round trip?</h3>
							<select>
								<option>Yes</option>
								<option>No</option>
							</select>
						</div>
						<div class="field">
							<button><h4>GO</h4></button>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</body>
</html>
