body {
	margin: 0px;
}

html, body, .container-fluid, .row {
	height: 100%;
}

html, body, .container-fluid, .row, .right-box:not(.original-query) {
	width: 100%;
}

.right-box:not(.original-query) {
	margin: auto;
}

h1, h2 {
    font-family: "Vollkorn";
}

h3, h4, p {
	font-family: Lato;
}

h1 {
    font-size: 54px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

button {
	margin-top: 56px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #00695c;
    border: none;
    color: #FFF;
    padding: 4px 36px;
    text-decoration: none;
}

input {
	border: none;
	border-bottom: 1px solid #444;
	width: 100%;
	text-align: center;
}

.right {
	text-align: center;
	background: #FFF;
	color: #444;
	height: 100%;

	justify-content: center;
}

.left {
    text-align: right;
	background: #00695c;
	color: #FFF;
	padding-right: 40px;
	height: 100%;
}

.left h1 {
	margin-left: auto;
}

.field {
	padding-top: 30px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
<<<<<<< HEAD
.pac-container {
                z-index: 10000 !important;
                display: block !important;
            }
=======

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}
>>>>>>> b46209c959516c84a7dacde0b45ff3f12e389b0b
